.no-support-message { 
  display:none; 
}
.impress-not-supported .no-support-message { 
  display:block; 
}
* {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}
/* additional styles just to make things look a bit nicer */
body { 
  background:#fff; 
  font:16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:#333; 
}
.step { 
  width:940px; 
  margin:0 auto 24px auto; 
}
h1 { 
  font-size:120px;
  text-align: center; 
}
a.textlink {
    float: right;
    color: inherit;
    text-decoration: none;
    font-weight:300;
    padding: 0 0.2em;
    background: rgba(187,187,187,0.5);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

.cover {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 100px;
  margin-bottom: 60px;
}

.center {
  text-align: center;
}

.team {
  font-size: 30px;
  list-style: none;
  li {
    font-size: 25px;
    padding: 10px;
  }
}

.hi { 
  font-size:140px; 
  font-weight:600; 
}
.name { 
  font-size:18px; 
}
.bigger { 
  font-size:25px; 
  font-weight:200;
}
.sectiontitle { 
  font-size:150px; 
  font-weight:300; 
}
.centeredimg { 
  text-align:center; 
}
.imgcaption { 
  font-size:24px; 
  font-weight:600; 
}
ul { 
  width:390px; 
  margin-right:auto; 
  margin-left:auto; 
}
ul li { 
  text-align:left; 
  // font-size:18px; 
}
p { 
  width: 900px; 
  margin-right:auto; 
  margin-left:auto; 
  text-align:left;
  line-height: 1.4;
}